/* Resetting default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Navbar styles */
.navbar {
    background-color: #222;
    padding: 10px 0;
    font-family: Arial, sans-serif;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    object-fit: contain;
    width: 80px;
    height: 60px;
    background-image: url("https://assets.materialup.com/uploads/61d86780-be13-47fa-81a6-226aac22db27/preview.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 10px
}

.nav_links {
    list-style: none;
    display: flex;
}

.nav_link {
    color: #fff;
    text-decoration: none;
    margin-left: 20px;
    font-size: 18px;
    transition: color 0.3s ease;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.nav_link:hover {
    color: #FFA500;
}
