.navbar {
    height: 8vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #333; /* Add your desired background color */
    color: white; /* Add your desired text color */
  }
  
  .container {
    display: flex;
    align-items: center;
  }
  
  .logo {
    width: 65px; /* Add your desired width */
/* Maintain aspect ratio */
    border-radius: 40px;
    object-fit: fill;
    background-size: cover;
  }
  
  .nav_links {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .nav_link {
    margin-right: 15px; /* Adjust spacing between links */
    color: rgb(240, 236, 236); /* Add your desired text color */
    text-decoration: none;
    margin-left: 50px;
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
  .custom_select {
    padding-right: 0rem;
  }
  .nav_btn {
   
    color: rgb(41, 40, 40); /* Add your desired text color */
    text-decoration: none;
    /* margin-left: 50px; */
    font-weight: 700;
    font-size: 20px;
  }
  .nav_link:last-child {
    margin-right: 0; /* Remove margin for the last link */
  }
  